html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  width: 70%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.home::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 1;
  z-index: 999;
  animation: fade-out 2s forwards;
  pointer-events: none;
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .home {
    width: 90%;
  }
}
@media only screen and (max-width: 760px) {
  .home {
    width: 100%;
    overflow: hidden;
  }
}
